.Footer{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #1C0F13;
    /* bottom: 0;
    left: 0;
    right: 0 */

}

.Footer p{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
}

.Footer a{
    color: #6E7E85;
    text-decoration: none;
}