.InfoModal{
    position: fixed;
    top: 20%;
    /* margin-top: 10vh; */
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    background-color: #1C0F13;
    color: #fff;
    border: 4px #fff solid;
}

.modal-info-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    overflow-y: scroll;
    padding-bottom: 20px;
    margin-bottom: 20px;

}
.modal-info-container h2{
    font-size: 3rem;
    margin: 20px;
    text-align: center;

}
.modal-info-container h3{
    font-size: 2rem;
    width: 90%;
    
    
}

.modal-summary{
    line-height: 1.5;
}

.modal-close{
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

@media only screen and (max-width: 830px) {
    .InfoModal{
        width: 90vw;
        top: 20%;
    }
    .modal-close{
        width: 140px;
        height: 80px;
        font-size: 1.4rem;
    }
    .modal-info-container{
 
        margin: 10px;
        padding-bottom: 10px;
    
    }

    .modal-info-container h2{
        font-size: 2rem;
        margin: 10px;
    
    }
    .modal-info-container h3{
        font-size: 1.4rem;
        width: 90%;
        
    }
  }