.SearchPage{
    background-color: #1C0F13;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    flex-grow: 1;
}



.intro-text{
    margin: 0 50px;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 40px;
}



.search-container{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.search-input{
    font-size: 4rem;
    padding: 10px;
    margin-right: 20px;
    border-radius: 6px;
    background-color: #B7CECE;

}

.button{
    font-size: 3rem;
    padding: 20px;
    margin-right: 20px;
    background-color: #B7CECE;
    color: #1C0F13;  
    font-family: 'Lato', sans-serif;
    height: 140px;
    width: 200px;
    border-radius: 6px;
    
}
.button:hover{
    background-color: #6E7E85;
    color: #B7CECE;
    cursor: pointer;
}

.button:active{
    background-color: #def1f1;
    color: #1C0F13;  

}

.placeholder-tv{
    height: 400px;
}

.search-result-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.no-results-text{
    font-size: 2.4rem;
}