.ShowPage{
    background-color: #1C0F13;
    min-height: 100vh;
}
.show-container{
    width: 100%;
    margin: 60px 100px;
    display: flex;
    flex-direction: column;
    background-color: #1C0F13;
    color: #fff;
    font-family: 'Lato', sans-serif;
    border-radius: 6px;
}

.show-info-container{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 
    "image title"
    "image synopsis" 
    "image year" 
    "image rating";
    padding: 60px 0;
    margin: 20px;

}

.show-image{
    grid-area: image;
    height: 500px;
    width: auto;
    margin-right: 100px;
    border-radius: 6px;
}

.show-container h2{
    font-size: 3rem;
    margin: 0;
    
}

.show-container h3{
    font-size: 1.5rem;
    line-height: 1.5;

}
.show-title{
    grid-area: title;
    color: #fff;
}
.show-synopsis{
    grid-area: synopsis;

}
.show-year{
    grid-area: year;

}
.show-rating{
    grid-area: rating;

}


@media only screen and (max-width: 960px) {

    .show-container{
       
        margin: 20px 0;
    
    }
    
    .show-info-container{
        grid-template-rows: repeat(5, min-content);
        grid-template-areas: 
        "image image"
        "title title" 
        "synopsis synopsis" 
        "year year" 
        "rating rating";
        justify-items: center;
        padding-top: 0;
        margin-top: 0;

    
    }
    .show-image{
        height: 300px;
        margin-right: 0;
        margin-bottom: 20px;

    }

    .show-container h2{
        font-size: 1.5rem;
        text-align: center;

    }
    
    .show-container h3{
        font-size: 1.2rem;
        text-align: center;
    
    }

  }